html {
  font-family: sans-serif;
}

body {
  margin: 3rem;
}

button {
  font: inherit;
  background: rgb(151, 141, 2);
  color: rgb(26, 24, 1);
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid rgb(251, 255, 0);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #d1ff04;
  border-color: #d1ff04;
}
